<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.jason.movietvcatalog.discussions">

    <dist:module
        dist:instant="false"
        dist:title="Discussion">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".DiscussionActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="movietvapp"
                    android:host="discussion"/>
            </intent-filter>
        </activity>
    </application>

</manifest>